<%- include("partials/header.ejs") %>

<% if (locals.title && locals.text){ %>
<h1> <%= title %></h1>
<h2> <%= time %> </h2>
<p> <%=text %></p>
<p> - First Last </p>
<% } else { %>
<h1> No new posts! </h1>
<% } %> 



<%- include("partials/footer.ejs") %>