<%- include("partials/header.ejs") %>

<div class="create-edit">
  <div class="container">
      <% if (locals.postID) { %>
        <div class="post">
          <h1> Edit Post </h1>
          <form class="mb-3" action="/update" method="POST">
            <div class="mb-3">
              <label for="blogTitle" class="form-label">Blog Title</label>
              <input name="title" type="text" class="form-control" id="blogTitle" value="<%=title%>">
            </div>
            <div class="mb-3">
              <label for="blogText" class="form-label">Blog Text</label>
              <textarea name="text" type="text" class="form-control" id="blogText" rows="5"><%=text%></textarea>
              <input hidden type="text" name="index" value="<%=postID%>">
            </div>
            <div class="m-1">
              <input type="submit" value="Update Post"/>
            </div>            
          </form>
        </div>
      <%} else { %>
        <div class="post">
          <h1>New Blog</h1>
          <form class="mb-3" action="/submit" method="POST">
            <div class="mb-3">
              <label for="blogTitle" class="form-label">Blog Title</label>
              <input name="title" type="text" class="form-control" id="blogTitle"  placeholder="Title">
            </div>
            <div class="mb-3">
              <label for="blogText" class="form-label">Blog Text</label>
              <textarea name="text" class="form-control" id="blogText" rows="5" placeholder="Start typing here..."></textarea>
            </div>
            <div class="m-1">
              <input type="submit" value="Post"/>
            </div>            
          </form>
        </div>
        <div class="previous-posts">
          <h1>Get Inspired</h1>
        </div>
      <% } %>
  </div>
</div>

<%- include("partials/footer.ejs") %>