<%- include("partials/header.ejs") %>

<div container>
    <div class="post">
    <h1><%= title %></h1>
    <p><%= text %></p>
  </div>
  <div class="editing">
    <a href="/edit/<%=postID%>"><input type="button" value="Edit"></a>
    <form action="/delete" method="POST">
      <input type="text" name="postID" hidden value="<%=postID%>">
      <input type="submit" value="Delete">
    </form>
  </div>
  <div class="previous-posts">
    <h1>Other Posts</h1>
  </div>
</div>

<%- include("partials/footer.ejs") %>